body {
	background-color: #6441A4; /*twitch purple*/
	font-family: Arial;
	color: white;
	margin-left: 50px;
}

h1, p {
	
}

.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: space-between;
	min-width: 0;
}

.vid {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 20px;
	margin-right: 50px;
	margin-top: 50px;
	height: 263px;
	width: 320px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
	border-style: outset;
	
}


